[user]
    name = Matthew Nichols
    email = matthew.nichols@gc.com
[include]
    path = .gitconfig.user
    path = .gitconfig.diff
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[alias]
    amend = "!git commit -a --amend"
    undo = "!git reset --soft HEAD~1"
[diff]
    noprefix = true
[init]
	defaultBranch = main
[core]
	excludesfile = $HOME/.gitignore_global
	compression = 0
	editor = vim
[submodule]
	recurse = true
